<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    >

    <uses-permission android:name="android.permission.INTERNET"/>
    
    <!-- Camera access -->
    <uses-permission android:name="android.permission.CAMERA"/>

    <!-- For Android 12 and below (Gallery / Storage access) -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <!-- For Android 13+ (Gallery / Media images access) -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>

    <application
        android:label="Rudraganga: Talk to Astrologer"
        android:icon="@mipmap/ic_launcher">
        
        <!-- Your activity definitions here -->
        
    </application>
</manifest>
